In [4]:
import pandas as pd
import numpy as np

In [6]:
#Normalizacion de tabla review 
reviews= pd.read_csv('C:\Henry\Labs\Grupal\DS-Proyecto_Grupal_Olist-main\data\e-comerce_Olist_dataset\olist_order_reviews_dataset.csv') #levanto el dataset
review= reviews[['review_id', 'order_id', 'review_score', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']] #me quedo con las tablas importantes 
review.rename(columns={'review_id': 'idcomentario', 
                           'order_id': 'idorder', 'review_score':'puntacion', 'review_comment_message':'comentario', 'review_creation_date': 'fecha_comentario', 'review_answer_timestamp':'fecha_respuesta'}, inplace=True)#cambio de nombres de cada tabla
						   
review['comentario'] = review['comentario'].replace(np.nan,'Sin Dato') # Reemplazo nulos en comentario por sin dato

#reviewcsv = review.to_csv('review.csv', index = True) #exporto el csv

C:\Users\User\AppData\Local\Temp\ipykernel_16272\3630970761.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review.rename(columns={'review_id': 'idcomentario',
C:\Users\User\AppData\Local\Temp\ipykernel_16272\3630970761.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review['comentario'] = review['comentario'].replace(np.nan,'Sin Dato') # Reemplazo nulos en comentario por sin dato

In [9]:
review

,idcomentario,idorder,puntacion,comentario,fecha_comentario,fecha_respuesta
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,Sin Dato,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,Sin Dato,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,Sin Dato,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,Sin Dato,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,Sin Dato,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,Sin Dato,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [12]:
#normalizacion sellers (vendedores)
vendedores= pd.read_csv('C:\Henry\Labs\Grupal\DS-Proyecto_Grupal_Olist-main\data\e-comerce_Olist_dataset\olist_sellers_dataset.csv')
vendedores.rename(columns={'seller_id': 'idvendedor', 
                           'seller_zip_code_prefix': 'zipcode'}, inplace=True) #cambio de nombre de las tablas 

vendedores = vendedores[['idvendedor', 'zipcode']] # elimino tabla ciudad y estado

In [13]:
vendedores

                            idvendedor  zipcode
0     3442f8959a84dea7ee197c632cb2df15    13023
1     d1b65fc7debc3361ea86b5f14c68d2e2    13844
2     ce3ad9de960102d0677a81f5d0bb7b2d    20031
3     c0f3eea2e14555b6faeea3dd58c1b1c3     4195
4     51a04a8a6bdcb23deccc82b0b80742cf    12914
...                                ...      ...
3090  98dddbc4601dd4443ca174359b237166    87111
3091  f8201cab383e484733266d1906e2fdfa    88137
3092  74871d19219c7d518d0090283e03c137     4650
3093  e603cf3fec55f8697c9059638d6c8eb5    96080
3094  9e25199f6ef7e7c347120ff175652c3b    12051

[3095 rows x 2 columns]

In [15]:
#normalizacion orders (ordenes)
orders= pd.read_csv('C:\Henry\Labs\Grupal\DS-Proyecto_Grupal_Olist-main\data\e-comerce_Olist_dataset\olist_orders_dataset.csv')

orders.rename(columns={'order_id': 'idorder', 'custmer_id':'idcliente', 'order_status':'estado_orden', 'order_purchase_timestamp': 'fecha_compra', 'order_approved_at':'fecha_compra_aprobada', 'order_delivered_carrier_date': 'fecha_entrega_transporte', 'order_delivered_customer_date':'fecha_entrega_cliente', 'order_estimated_delivery_date':'fecha_entrega_estimada'}, inplace=True)#cambio de nombres de cada tabla

#orders['comentario'] = orders['comentario'].replace(np.nan,'Sin Dato') # Reemplazo nulos en comentario por sin dato
orders.head()

,idorder,customer_id,estado_orden,fecha_compra,fecha_compra_aprobada,fecha_entrega_transporte,fecha_entrega_cliente,fecha_entrega_estimada
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [17]:
orders = orders.fillna('NaN') # Reemplazo vacios tablas date por nulos

In [20]:
orders

,idorder,customer_id,estado_orden,fecha_compra,fecha_compra_aprobada,fecha_entrega_transporte,fecha_entrega_cliente,fecha_entrega_estimada
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [21]:
orders.isnull().sum()

idorder                     0
customer_id                 0
estado_orden                0
fecha_compra                0
fecha_compra_aprobada       0
fecha_entrega_transporte    0
fecha_entrega_cliente       0
fecha_entrega_estimada      0
dtype: int64